<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Records</title>
</head>
<body>
    <h1>All Records</h1>
    <table>
        <thead>
            <tr>
                <th>record_id</th>
                <th>title</th>
                <th>author</th>
                <th>label</th>
                <th>year</th>
                <th>condition</th>
                <th>cost</th>
                <th>year_of_purchase</th>
                <th>offers</th>
                <th>comments</th>
                <th>userid</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record['record_id'] }}</td>
                <td>{{ record['title'] }}</td>
                <td>{{ record['author'] }}</td>
                <td>{{ record['label']}}</td>
                <td>{{ record['year']}}</td>
                <td>{{ record['condition']}}</td>
                <td>{{ record['cost']}}</td>
                <td>{{ record['year_of_purchase']}}</td>
                <td>{{ record['offers']}}</td>
                <td>{{ record['comments']}}</td>
                <td>{{ record['username']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>