<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>New Record</title>
</head>
<body>
    <form id="recordForm">       
        Title<br><input type="text" id="title" name="title" autocomplete="title" required><br>
        Author<br><input type="text" id="author" name="author" autocomplete="author" required><br>
        Label<br><input type="text" id="label" name="label" autocomplete="label"><br>
        Year<br><input type="number" id="year" name="year" autocomplete="year" required><br>
        Condition<br><input type="text" id="condition" name="condition" autocomplete="condition" required><br>
        Cost<br><input type="number" id="cost" name="cost" autocomplete="cost" required><br>
        Year Of Purchase<br><input type="number" id="year_of_purchase" name="year_of_purchase" autocomplete="year_of_purchase" required><br>
        Offers<br><input type="text" id="offers" name="offers"><br>
        Comments:<textarea id="comments" name="comments"></textarea><br>
        Username<input type="text" id="username" name="username" autocomplete="username" required><br>
        <button type="button" onclick="createRow()">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function createRow() {
            var record = {};
            var newRecord = document.getElementById("recordForm");
            record.title = newRecord.querySelector('input[name="title"]').value;
            record.author = newRecord.querySelector('input[name="author"]').value;
            record.label = newRecord.querySelector('input[name="label"]').value;
            record.year = newRecord.querySelector('input[name="year"]').value;
            record.condition = newRecord.querySelector('input[name="condition"]').value;
            record.cost = newRecord.querySelector('input[name="cost"]').value;
            record.year_of_purchase = newRecord.querySelector('input[name="year_of_purchase"]').value;
            record.offers = newRecord.querySelector('input[name="offers"]').value.split(',').map(Number); // Convert to array of numbers
            record.comments = newRecord.querySelector('textarea[name="comments"]').value.split(','); // Convert to array of strings
            record.username = newRecord.querySelector('input[name="username"]').value;

            console.log("New record is " + JSON.stringify(record));

            // Send record data to server
            sendDataToServer(record);
        }

        function sendDataToServer(record) {
            $.ajax({
                url: '/records/new',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(record),
                success: function(response) {
                    console.log('Record successfully created');
                    // Show success message and redirect
                    alert("Record successfully created!");
                    window.location.href = "/records";
                },
                error: function(xhr, status, error) {
                    console.error('Failed to create new record:', status, error);
                    console.error(xhr.responseText); // Log server response for more details
                    // Show error message
                    alert("Failed to create new record: " + error);
                }
            });
        }
    </script>
</body>
</html>